# ===========================================
# EDITOR & SYSTEM FILES
# ===========================================
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===========================================
# LOG FILES
# ===========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===========================================
# ENVIRONMENT FILES
# ===========================================
.env
.env.*
*.local

# ===========================================
# FRONTEND
# ===========================================
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# ===========================================
# BACKEND
# ===========================================
venv/
backend/venv/
backend/.venv/

__pycache__/
backend/__pycache__/

*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

backend/data/temp/
backend/data/state/
/data/temp/09033.cennik.csv
/data/temp/09033.cennik.zip
/backend/data/state/gmail_puller_state.json
/backend/data/temp/MOTOROL_formatted_09033.cennik.csv
/backend/backend/data/state/gmail_puller_state.json
/data/temp/state/gmail_puller_state.json

# OAuth ключі
backend/credentials.json
backend/token.json

# ===========================================
# BUILD / DEPLOY
# ===========================================
build/
dist/
.cache/
coverage/
/backend/backend/data/state/gmail_puller_state.json
/data/temp/state/gmail_puller_state.json
